@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/***********
 Basic style
***********/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    /*background-color: #2D3E50;*/
    background-image: linear-gradient(to right, #b2db9e 0%, #539fb7 100%);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    /*display: flex;*/
    /*-ms-flex-direction: row;*/
    /*flex-direction: row;*/
    min-height: 100vh;
    background: #172C49;
    color: #172C49;
}

.app-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.page-wrapper {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*padding: 10px 14px 0;*/
}

.page-content {
    background: #EBECEF;
    padding: 30px 15px 0;
    margin-top: 40px;
}

.heading1 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}

.heading2 {
    font-size: 21px;
    font-weight: 300;
    color: #ffffff;
}

.heading3 {
    font-size: 23px;
    font-weight: 700;
    color: #172C49;
}

.color-primary1 {
    color: #172C49;
}

.color-primary2 {
    color: #535A72;

}

.color-primary3 {
    color: #3BA935;
}

.color-primary4 {
    color: #E9CF30;
}

.color-primary5 {
    color: #EBECEF;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.customBtn {
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 3px 6px #00000029;
    min-width: 124px;
}

.btn-primary {
    background: #172C49;
    border-color: #172C49;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #172C49;
    border-color: #172C49;
}

.btn-primary:hover, .btn-primary:focus {
    background: #ffffff;
    color: #172C49;
    border-color: #172C49;
}

.btn-secondary {
    background: #3BA935;
    border-color: #3BA935;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background: #3BA935;
    border-color: #3BA935;
}

.btn-secondary:hover, .btn-secondary:focus {
    background: #ffffff;
    color: #3BA935;
    border-color: #3BA935;
}

.eventListing {

}

.eventListing__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . . . .";
    margin-bottom: 8px;
    font-size: 13px;
    border-left: 6px solid transparent;
    background: #ffffff;
    box-shadow: 0 3px 6px #00000029;
    padding: 12.5px 20px;
    margin-left: -15px;
    cursor: pointer;
}

.eventListing__list.selected, .eventListing__list:hover {
    background: #FBF5D6;
}
.eventListing__list.action{
    border-left: 6px solid #E9CF30;
}

.customTabs {
    border-bottom: 2px solid #8997B2;
}

.customTabs .nav-link {
    font: normal normal bold 16px/18px Open Sans;
    letter-spacing: 0;
    color: #454F63;
    opacity: 0.2;
    border-radius: 0;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

.customTabs .nav-item.show .nav-link, .customTabs .nav-link.active {
    color: #454F63;
    opacity: 1;
    background-color: #fff;
    border-color: transparent transparent #3BA935 transparent;
}

.customTabs--action .nav-link {
    font: normal normal bold 19px/26px Open Sans;
    letter-spacing: 0;
    color: #172C49;
}

.customTabs--action .nav-link:not(:last-child) {
    margin-right: 2.5rem;
}

.actionListing {
    margin-bottom: 30px;
}

.actionList {
    background: #F4F4F4;
    box-shadow: 0 3px 6px #00000029;
    padding: 12.5px 20px;
}

.actionList:not(:last-child) {
    margin-bottom: 15px;
}

.actionList p {
    margin-bottom: 4px;
}

.actionList__text {
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0;
    color: #454F63;
}

.actionList:hover {
    background: #454F63;
    color: #ffffff;
}

.actionList:hover .actionList__text {
    color: #ffffff;
}

.common-modal .modal-content {
    box-shadow: 0 2px 6px #0000000F;
    border-radius: 12px;
    background-color: #ffffff;
}

.common-modal .modal-header {
    border-bottom: 0;
    padding: 1rem 2rem 0;
}

.common-modal .modal-body {
    padding: 0 2rem 1rem;
}

.common-modal .close {
    opacity: 1;
    font-weight: bold;
    font-size: 30px;
}

.imgDiv {
    position: relative;
    overflow: hidden;
    margin: auto;
    background: #EBECEF;
}

.mediaImg {
    width: 100%;
    height: 260px;
}

.imgDiv__img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.leaflet-div-icon {
    background: transparent;
    border: none;
    width: 40px !important;
    height: 30px;
}
@media (min-width: 1920px) {
    .container {
        /*max-width: 1890px;*/
    }
}

@media screen and (min-width: 1300px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 992px) {
    .common-modal .modal-lg {
        max-width: 795px;
    }
}

@media (max-width: 991px) {
    .eventListing {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }

    .page-content {
        padding: 15px 15px 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .eventListing {
        max-height: 250px;
    }

    .eventListing__list {
        display: block;
    }

    .eventListing__text {
        margin-bottom: 8px;
    }
    .common-modal .modal-header {
        padding: 1rem 1rem 0;
    }

    .common-modal .modal-body {
        padding: 0 1rem 1rem;
    }
    .common-modal .modal-dialog{
        margin: 0 1rem;
    }
    .customTabs--action .nav-link{
        font-size: 16px;
    }
    .customTabs--action .nav-link:not(:last-child) {
        margin-right: 0;
    }
    .heading3 {
        font-size: 20px;
    }
}
